<header>
  <a href="about.html.erb" id="logo">
    <h1>Katlyn Buffum</h1>
    <h2>Web Developer</h2>
  </a>
  <nav>
    <ul>
      <li><a href="about">About</a></li>
      <li><a href="education" class="selected">Education</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="projects">Projects</a></li>
    </ul>
  </nav>
</header>

<div id="education_info">
  <section>
    <h3>Education</h3>
    <p>
      My educational background includes an Associate in Arts degree, Patient Care Technician Certificate, 1 year at UCF for education, and General Assembly's Web Development Immersive Program.
    </p>
    <h3>Tech Skills</h3>

    <div id="languages">
      <div class="skillContainer">
        <h4>Languages</h4>
        <ul class="skillSet">
          <li>
            <span class="skills">JavaScript </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">Ruby </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">HTML5 </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">CSS3 </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">Java </span>
            <span class="learning">Learning</span>
          </li>
          <li class="newline">new line</li>
        </ul>
      </div>

      <div class="skillContainer">
        <h4>Frameworks</h4>
        <ul class="skillSet">
          <li>
            <span class="skills">Ruby on Rails </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">Node.js </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">Express </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">Angular </span>
            <span class="familiar">Familiar</span>
          </li>
          <li class="newline">new line</li>
          <li class="newline">new line</li>
        </ul>
      </div>

      <div class="skillContainer">
        <h4>Libraries</h4>
        <ul class="skillSet">
          <li>
            <span class="skills">JQuery </span>
            <span class="experienced">Experienced </span>
          </li>
          <li>
            <span class="skills">Bootstrap </span>
            <span class="proficient">Proficient</span>
          </li>
          <li>
            <span class="skills">Bcrypt </span>
            <span class="familiar">Familiar</span>
          </li>
          <li>
            <span class="skills">Materialize </span>
            <span class="familiar">Familiar</span>
          </li>
          <li>
            <span class="skills">Chart.js </span>
            <span class="familiar">Familiar</span>
          </li>
          <li>
            <span class="skills">Slick </span>
            <span class="familiar">Familiar</span>
          </li> 
        </ul>
      </div>

      <div class="skillContainer">
        <h4>Database Tools</h4>
        <ul class="skillSet">
          <li>
            <span class="skills">PostgreSQL </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">Sequelize </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">MongoDB </span>
            <span class="familiar">Familiar</span>
          </li>
          <li class="newline">new line</li>
          <li class="newline">new line</li>
          <li class="newline">new line</li>
        </ul>
      </div>

      <div class="skillContainer">
        <h4>Other</h4>
        <ul class="skillSet">
          <li>
            <span class="skills">Github </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">OOP </span>
            <span class="experienced">Experienced</span>
          </li>
          <li>
            <span class="skills">AJAX </span>
            <span class="proficient">Proficient</span>
          </li>
          <li>
            <span class="skills">JSON </span>
            <span class="proficient">Proficient</span>
          </li>
          <li>
            <span class="skills">Heroku </span>
            <span class="proficient">Proficient</span>
          </li>
          <li>
            <span class="skills">TDD </span>
            <span class="learning">Learning</span>
          </li>
        </ul>
      </div>

      <!-- <div>
        <h4>Future Endevours</h4>
        <ul class="skillSet">
          <li class="futureEndevours">Python</li>
          <li class="futureEndevours">C</li>
          <li class="futureEndevours">D3</li>
        </ul>
      </div> -->
    </div>
  </section>
</div>