<header>
  <a href="about.html.erb" id="logo">
    <h1>Katlyn Buffum</h1>
    <h2>Junior Developer</h2>
  </a>
  <nav>
    <ul>
      <li><a href="about">About</a></li>
      <li><a href="education" class="selected">Education</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="projects">Projects</a></li>
    </ul>
  </nav>
</header>

<div id="education_info">
  <section>
    <h3>Education</h3>
    <p>My educational background includes an  Associate in Arts degree, Patient Care Technician Certificate, 1 year at UCF for teaching, nursing school prerequsites, and 4 months of nursing school.  So far, my programming experience consists of taking Intro to Python at GA, learning Ruby and JavaScript on Codecademy, some Java, HTML, and CSS.  Currently, I'm working on team Treehouse completing the Rails Development track.</p>
  </section>
</div>