<header>
  <a href="about.html.erb" id="logo">
    <h1>Katlyn Buffum</h1>
    <h2>Web Developer</h2>
  </a>
  <nav>
    <ul>
      <li><a href="/">About</a></li>
      <li><a href="education">Education</a></li>
      <li><a href="projects" class="selected">Projects</a></li>
    </ul>
  </nav>
</header>

<div id="project_info">
  <div class='projects'>
    <div class="project_content">
      <h1 class="project_title pt_right">AngioBloom</h1>
      <p class="pt_right"> 
        AngioBloom is an app for people who love taking pictures of and discovering information about flowers. It allows users to upload and identify flowers.
      </p>
      <p class="pt_right technologies">
        <a href="https://www.npmjs.com/package/bcryptjs"><i class="fa fa-user-secret">Bcrypt</i></a>
        <a href="http://getbootstrap.com/"><i class="devicon-bootstrap-plain">Bootstrap</i></a>
        <a href="http://cloudinary.com/"><i class="fa fa-cloud" aria-hidden="true">Cloudinary</i></a>
        <a href="https://dashboard.heroku.com/"><i class="devicon-heroku-original">Heroku</i></a>
        <a href="http://jquery.com/"><i class="devicon-jquery-plain">jQuery</i></a>
        <a href="http://www.sabinanore.com/design/html-special-symbols/">&#10048;Sabina Nore</a>
        <i class="devicon-nodejs-plain"><a href="https://nodejs.org/en/">Node.js</a> & <a href="http://expressjs.com/">Express.js</a></i>
      </p>
      <p class="pt_right technologies">
        <a href="https://github.com/k-buffum/AngioBloom"><i class="fa fa-github">GitHub Page</i></a>
        <a href="https://angiobloom.herokuapp.com/ "><i class="fa fa-link">Webpage</i></a>
      </p>
    </div>
    <div class='project_pic'>
      <%= image_tag("angiobloom.png", class:"project_picture") %>
    </div>
  </div>

  <div class='projects'>
    <div class="project_pic">
      <%= image_tag("rainyDay.png", class:"project_picture") %>
    </div>
    <div class="project_content">
      <h1 class="project_title pt_left">Rainy Day</h1>
      <p>
        Rainy Day is an app for people who would like to save an activity for a rainy day. It allows users to search for a place they would like to go and save an activity they would like to complete at their selected place. Once a user has completed the activity they can view all of their completed goals on the achievement page.
      </p>
      <p class="technologiesRight">
        <a href="http://getbootstrap.com/"><i class="devicon-bootstrap-plain">Bootstrap</i></a>
        <a href="https://fortawesome.github.io/Font-Awesome/"><i class="fa fa-flag">Font Awesome</i></a>
        <a href="https://dashboard.heroku.com/"><i class="devicon-heroku-original">Heroku</i></a>
        <i class="fa fa-diamond"><a href="https://www.ruby-lang.org/en/">Ruby</a> on <a href="http://rubyonrails.org/">Rails</a></i>
        <i class="fa fa-google"><a href="https://developers.google.com/maps/">Google Places API</a> & <a href="https://www.google.com/fonts">Google Fonts</a></i>
      </p>
      <p class="technologiesRight">
      <a href="https://github.com/k-buffum/rainyday"><i class="fa fa-github">GitHub Page</i></a>
      <a href="http://rainydayapp.herokuapp.com/"><i class="fa fa-link">Webpage</i></a>
      </p>
    </div>
  </div>
  
  <div class='projects'>
    <div class="project_content">
      <h1 class="project_title pt_right">Dog MeetUp</h1>
      <p class="pt_right">
        Dog MeetUp is an app for dog owners who are exhausted with going to a park to find no dogs for their dog to play with. It allows user to select a park and time they plan to attend, view the number of dogs that are scheduled to go to their selected park throughout the day, and leave reviews for parks.  
      </p>
      <p class="pt_right">
        <a href="https://www.npmjs.com/package/bcryptjs"><i class="fa fa-user-secret">Bcrypt</i></a>
        <a href="http://getbootstrap.com/"><i class="devicon-bootstrap-plain">Bootstrap</i></a>
        <a href="http://www.chartjs.org/"><i class="fa fa-bar-chart">Chart.js</i></a>
        <a href="http://downloadicons.net/dog-icons?page=2"><i class="fa fa-paw">Dog Icon</i></a>
        <a href="https://developers.google.com/maps/documentation/javascript/examples/map-geolocation"><i class="fa fa-map-marker">Geolocation</i></a>
        <a href="https://dashboard.heroku.com/"><i class="devicon-heroku-original">Heroku</i></a>
        <a href="http://experiments.wemakesites.net/css3-rating-stars-with-selection.html"><i class="fa fa-star">HTML5, CSS3, & JS Experiments</i></a>
        <a href="http://jquery.com/"><i class="devicon-jquery-plain">jQuery</i></a>
        <i class="devicon-nodejs-plain"><a href="https://nodejs.org/en/">Node.js</a> & <a href="http://expressjs.com/">Express.js</a></i>
        <i class="fa fa-google"><a href="https://developers.google.com/maps/">Google Maps API</a> & <a href="https://developers.google.com/places/">Google Places API</a></i>
      </p>
      <p class="pt_right technologies">
        <a href="https://github.com/k-buffum/Dog_MeetUp"><i class="fa fa-github">GitHub Page</i></a>
        <a href="https://dog-meetup.herokuapp.com/"><i class="fa fa-link">Webpage</i></a>
      </p>
    </div>
    <div class="project_pic technologies">
      <%= image_tag("dogMeetUp.png", class:"project_picture") %>
    </div>
  </div>

  <div class='projects'>
    <div class="project_pic">
      <%= image_tag("hangman.png", class:"project_picture") %>
    </div>
    <div class="project_content">
      <h1 class="project_title pt_left">Hangman</h1>
      <p>
        Hangman is an app for people who would like to test their medical knowledge. It allows users to guess a medical term with a hint available if needed and unlike many other hangman games one and two player options are available.
      </p>
      <p class="technologiesRight">
        <a href="https://www.google.com/fonts"><i class="fa fa-google">Google Fonts</i></a>
        <a href="https://pixabay.com/en/cactus-country-cowboy-desert-stars-152104/"><i class="fa fa-picture-o">Pixabay</i></a>
        <a href="http://www.sciencekids.co.nz/sciencefacts/humanbody.html"><i class="fa fa-cogs">Science Kids</i></a>
        <a href="http://t4t5.github.io/sweetalert/"><i class="fa fa-commenting-o">Sweet Alert</i></a>
        <br>
        <i class="devicon-jquery-plain"><a href="http://jquery.com/">jQuery</a>, <a href="https://jqueryui.com/">jQuery UI</a>, & <a href="https://nnattawat.github.io/flip/">jQuery Flip</a></i>
      </p>
      <p class="technologiesRight">
        <a href="https://github.com/k-buffum/Project1WDI"><i class="fa fa-github">GitHub Page</i></a>
        <a href="http://k-buffum.github.io/Project1WDI"><i class="fa fa-link">Webpage</i></a>
      </p>
    </div>
  </div>
</div>