<header>
  <a href="about.html.erb" id="logo">
    <h1 class="header">Katlyn Buffum</h1>
    <h2>Web Developer</h2>
  </a>
  <nav>
    <ul>
      <li><a href="about" class="selected">About</a></li>
      <li><a href="education">Education</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="projects">Projects</a></li>
    </ul>
  </nav>
</header>

<div id="about_info">
  <section id="selfImage">
    <%= image_tag("headShot.jpg", id:"headShot") %>
  </section>
  <section id="about">
    <p>
      I am a Web Developer with a background in healthcare as a Certified Nursing Assistant, Health Unit Coordinator, and Monitor Technician. I have a passion for technology, health care and making people happy. Having worked as a CNA for three years has taught me to remain level headed in stressful situations.
    </p>
    <p>
      I was first turned on to the tech industry as a member of the robotics team at my high school. Working with my team and members of NASA, we created a robot that won many competitions. The experience opened my eyes to how fun and creative the tech industry could be. I would love to put my skills to use in companies that aim to advance education or health care technologies. When I'm not coding you can find me outside exploring the world around me.
    </p>
    <p>If you'd like to connect with me on LinkedIn, my username is <a href="https://www.linkedin.com/in/katlynbuffum">@knbuffum</a></p>
  </section>
</div>