<header>
  <a href="about.html.erb" id="logo">
    <h1>Katlyn Buffum</h1>
    <h2>Web Developer</h2>
  </a>
  <nav>
    <ul>
      <li><a href="/">About</a></li>
      <li><a href="education">Education</a></li>
      <li><a href="contact" class="selected">Contact</a></li>
      <li><a href="projects">Projects</a></li>
    </ul>
  </nav>
</header>

<div id="contact_info">
  <div id="primary">
    <h3 class="contact">General Information</h3>
    <p>I recently completed General Assembly's Web Development Immersive course and am looking for a Web Developer position.  If you have any questions, please don't hesitate to contact me!</p>
  </div>

  <div id="secondary">
    <h3 class="contact">Contact Details</h3>
    <ul class="contact-info">
      <li>
        <a href="tel:321-536-2478">
          <i class="fa fa-phone"></i>
          (321)536-2478
        </a>
      </li>
      <li>
        <a href="mailto:knbuffum@gmail.com">
          <i class="fa fa-envelope"></i>
          knbuffum@gmail.com
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/katlynbuffum">
          <i class="fa fa-linkedin"></i>
          katlynbuffum
        </a>
      </li>
      <li>
        <a href="https://github.com/k-buffum">
          <i class="fa fa-github"></i>
          k-buffum
        </a>
      </li>
      <li>
        <a href="http://twitter.com/intent/tweet?screen_name=knbuffum">
          <i class="fa fa-twitter"></i>
          @knbuffum
        </a>
      </li>
      <li>
        <a href="http://facebook.com/katlyn.buffum">
          <i class="fa fa-facebook"></i>
          katlyn.buffum
        </a>
      </li>
    </ul>
  </div>
</div>