/************************************
GENERAL
************************************/

a {
	text-decoration: none;
}

#about_info, #education_info, #project_info {
	max-width: 100%;
	margin: 2% 12%;
	padding: 5px;
}

html {
	width: 100%;
}

body {
	/*background-color: rgba(183, 144, 195, 0.1);*/
	background-image: url('cream_dust.png');
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

h3 {
	margin: 0 0 1em 0;
}



/************************************
HEADING
************************************/

header {
	background-image: url("flowers.jpg");
	background-size: cover;
	font-family: 'Calligraffitti', sans-serif;
	height: 150px;
	margin: 0 0 30px 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

#logo {
	margin: 0;
}

h1, h2, nav a, nav a:visited {
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
	padding: 10px 0 12px 0;
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
	margin: 0px;
}

h2 {
	font-size: 1.15em;
	margin: -5px 0 0;
	font-weight: normal;
}

h3 {
	margin: 10px;
}

nav a.selected, nav a:hover {
	color: #6AB528;
}



/************************************
NAGIVATION
************************************/

nav {
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
	font-size: 1.1em
}
nav a {
	font-weight: 800;
	padding: 15px 10px;
}



/************************************
FOOTER
************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #bfbfbf;
}

footer a {
	color: #BFBFBF;
	padding: 10px;
	text-decoration: none;
}

footer a:hover {
	color: #5E91F5;
}


/************************************
PAGE: ABOUT
************************************/

#about {
	float: right;
	width: 50%;
}

#about_info {
	padding-top: 3%;
}

#headShot {
	border: 5px solid black;
	border-radius: 50%;
	max-height: 275px;
}

#selfImage {
	float: left;
	padding-left: 10%;
}

.contact {
	margin: 0;
	margin-bottom: 10px;
}

#contact_info {
	margin: 2% 20%;
}

.contact-info {
	display: -webkit-inline-box;
	font-size: 0.9em;
	list-style: none;
	margin: 0;
	padding: 0;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding:0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li {
	margin-right: 60px;
}

#primary, #secondary {
	margin-top: 50px;
}

#primary, #secondary a{
	color: #000;
}

#secondary {
	width: 25%;
	float: right;
	padding-right: 50px;
}

#secondary a {
	padding-left: 0;
}



/************************************
PAGE: EDUCATION
************************************/

.experienced {
	background-color: #56C09D;
}

.experienced, .familiar, .learning, .proficient {
	border-right: 2px solid black;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
}

.experienced, .familiar, .learning, .proficient, .skills {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	padding: 2px 5px;
}

.familiar {
	background-color: #FFC672;
}

.futureEndevours, .skills {
	background-color: #5997BB;
}

#languages div {
	display: inline-block;
}

.learning {
	background-color: #FFA172;
}

.newline {
	opacity: 0;
}

.proficient {
	background-color: #676EC5;
}

.skillContainer {
	margin-left: 10px;
	margin-right: 10px;
}

.skills {
	border-left: 2px solid black;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
}

.skillSet {
	list-style: none;
	padding: 0;
}

.skillSet li {
	margin-bottom: 15px;
}



/************************************
PAGE: PROJECTS
************************************/

.fa-github:hover, .fa-link:hover {
	color: #DA8FE8;
}

.projects {
	display: -webkit-box;
	margin: 0 auto 10px;
}

.project_content a {
	color: black;
}

.project_content {
	max-width: 50%;
	margin: 2%;
}

.project_pic {
	max-width: 50%;
	margin: 2%;
}

.project_pic:hover {
	border: 3px solid rgba(218, 143, 232, 0.5);
}

.project_picture {
	max-width: 100%;
}

.project_title {
	color: black;
	text-shadow: none;
}

.pt_right {
	text-align: right
}